body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.highlight {
    color: dodgerblue;
    background-color: yellow;
}